* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Alice', serif;
}
body {
    background-image: url('imagens/fundo1.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding: 40px 0;
  
}

.container-principal {
    max-width: 1000px;
    width: 90%;
    background-color: #f4f4f4;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121214;
    padding: 24px 40px;
}

.logo {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
}

nav a {
    color: #E1E1E6;
    text-decoration: none;
    margin-left: 32px;
}

nav a:hover {
    color: #00a0a0;
}

.hero {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url('imagens/fundo1.webp');
    background-size: cover;
    background-position: center;
    padding: 60px 20px;
    text-align: center;
    color: white;
}

.search-box {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.search-box input {
    padding: 12px;
    border-radius: 8px;
    border: none;
    width: 300px;
}

.search-box button {
    background-color: #0084ff;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.conteudo-cards {
    padding: 40px;
}

.card {
  display: flex;
  align-items: center;
  gap: 32px;
  background-color: white;
  padding: 30px;
  border-radius: 16px;
margin-bottom: 24px;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

  .card-image {
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 12px; }
  
    .card-info h2 {
      font-size: 24px;
      margin-bottom: 12px;
      color: #333; }

      .card-info p {
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 20px;
        color: #666;
      }
  .card-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  }

h2, h3 {
    margin-bottom: 10px;
    color: #333;
}

p {
    line-height: 1.6;
    color: #666;
    margin-bottom: 15px;
}

.rating, .stars {
    display: flex;
    gap: 4px;
    margin-bottom: 20px;
}

.rating img, .stars img {
    width: 18px;
}

.btn-saiba-mais {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 24px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
  transition: background 0.3s;
}
.btn-saiba-mais:hover {
  background-color: #0056b3;
}